@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3 id="jumboText">" Fashion is about something that comes from within you"<br/> <span id="quoteR">- Ralph Laurn</span></h3>

</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4" id="indexLink">
        <p>Click @Html.ActionLink("here", "Index", "ClothingMains", null, new { id = "actionLink" }) to continue.<br/>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </p>
        
</div>
    <div class="col-md-4">

    </div>
</div>
