body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*^^^^^^^^^^^^^^^^^^^^^CODE THAT WAS GENERATED^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.navbar-brand{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size:30px;
}
.navbar-nav{
     font-family: 'Nothing You Could Do', cursive;
     font-size:20px;
}
li:hover{
    background-color:#372049;
}

/*^^^^^^^^^^^^^^^^^^^^^NAV CODE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

#mainBG{
    background-image:url("/Pictures/BackgroundImages/large-walk-in-closet-designs.jpg");
    background-size:cover;
}
.jumbotron{
    color:white;
    text-align:center;
    background: rgba(74, 70, 77, 0.50);
}
#jumboText{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size:70px;
    text-shadow:3px 5px 12px white;
}
#quoteR{
    font-family: 'Herr Von Muellerhoff', cursive;
}
#indexLink{
    text-align:center;
    font-size:38px;
    color:white;
    font-family: 'Allura', cursive;
    letter-spacing:-1px;
}
#actionLink:hover{
    text-decoration:none;
}
.glyphicon{
    color:black;
}
/*^^^^^^^^^^^^^^INDEX CODE^^^^^^^^^^^^^^*/

img{
   height:200px;
   width:200px;
}
h2{
   font-family: 'Nothing You Could Do', cursive;
}
.thumbnail{
    text-align:center;
    background-color:rgba(89, 83, 94, .5);
    font-family:'Comic Sans MS';
    font-size:20px;
    color:white;
}
#crudLink{
    font-family: 'Nothing You Could Do', cursive;
    font-size:20px;
}
#crudLink:link{
    color:white;
}
#crudLink:visited{
    color:white;
}
.btn:hover{
    background-color:transparent;
    text-decoration-style:none;
}
/*^^^^^^^^^^^^^^GENERAL CRUD TAGS^^^^^^^^^^^^^^*/




footer{
    color:black;
    font-size:40px;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight:bold;
}

/*^^^^^^^^^^^^^^FOOTER^^^^^^^^^^^^^^*/








